@font-face {
    font-family: 'saira';
    src: url(SairaCondensed-ExtraBold.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: saira;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    position: relative;
    padding: 10px 10px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #000;
    background: linear-gradient(to right, #000, #222);
    
}

.logo img {
    height: 40px;
}
.barra-icones {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    top: -60px;
    width: 640px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: saira-condensed, sans-serif;
}
.texto-logo {
    margin-left: 10px;
}


nav button {
    padding: 8px 16px;
    background-color: #00aab3;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.hero {
    background: linear-gradient(to right, #000, #222);
    color: white;
    padding: 80px 60px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    
}

.hero h1 {
    font-size: 40px;
    line-height: 1.4;
    margin: 0;
    
}

.botao-link {
    padding: 8px 16px;
    background-color: #00aab3;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

}
.botao-link:hover {
    background-color: #008f97;
}



.destaque {
    color: #00aab3;
    
}

.icones {
    text-align: center;
    padding: 40px 0;
    background: #fff;
}

.botao-link {
    padding: 8px 16px;
    background-color: #00aab3;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-family: saira-condensed, sans-serif;
}
.botao-link:hover {
    background-color: #008f97;
}

.barra-botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px; 
    background: #fff;
    padding: 20px 15px; 
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    width: 90%; 
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    top: -50px; 
    border-bottom: 4px solid #00aab3;
    border-radius: 4px;
}

.botao-funcional {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #00aab3;
    font-family: saira-condensed, sans-serif;
    font-weight: bold;
    transition: transform 0.3s;
    width: 100%; 
}

.botao-funcional img {
    width: 100px;
    height: 40px;
    margin-bottom: 8px;
    object-fit: contain;
}

.botao-funcional:hover {
    transform: scale(1.05);
}


.imagem-central img {
    max-width: 90%;
    height: auto;
    margin-bottom: 30px;
    
}


footer {
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.feedback {
    font-size: 14px;
}

.verde {
    color: #00aab3;
}

.social img {
    height: 24px;
    margin-left: 10px;
}
