<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<div class="painel">
  <div class="titulo">PAINEL DE CONTROLE</div>

  <div class="colunas">
    <div class="coluna-esquerda">
      <div class="metricas">
        <p>Total de Alunos: <span>2.000</span></p>
        <p>Alunos Ativos: <span>1.800</span></p>
        <p>Cursos com Maior Retenção: <span>8</span></p>
      </div>

      <div class="metricas">
        <p>Alertas em Tempo Real:</p>
        <span>Notificações Automáticas</span>
        <p>Sugestões de Intervenção:</p>
        <span>Ações Recomendadas</span>
      </div>
    </div>

    <div class="coluna-direita">
      <div class="graficos">
        <p><strong>Evolução da Evasão</strong></p>
        <img src="evolucao-evasao.png" alt="Gráfico de Evasão">
        <p><strong>Engajamento por Curso</strong></p>
        <img src="engajamento-curso.png" alt="Gráfico de Engajamento">
      </div>
    </div>
  </div>

  <div class="botoes">
    <div class="botao">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="29" viewBox="0 0 26 29" fill="none">
            <path d="M16.1107 14.498V27.1919C16.1751 27.6751 16.0141 28.1906 15.6435 28.5289C15.4945 28.6782 15.3175 28.7967 15.1226 28.8776C14.9278 28.9584 14.7188 29 14.5079 29C14.2969 29 14.088 28.9584 13.8931 28.8776C13.6982 28.7967 13.5212 28.6782 13.3722 28.5289L10.1343 25.291C9.95871 25.1192 9.82519 24.9091 9.74415 24.6772C9.66312 24.4453 9.63676 24.1978 9.66714 23.954V14.498H9.61881L0.340072 2.60965C0.078476 2.27382 -0.0395612 1.84811 0.0117524 1.42553C0.0630659 1.00294 0.279558 0.617852 0.613924 0.354396C0.919993 0.128871 1.25828 0 1.61268 0H24.1652C24.5196 0 24.8579 0.128871 25.1639 0.354396C25.4983 0.617852 25.7148 1.00294 25.7661 1.42553C25.8174 1.84811 25.6994 2.27382 25.4378 2.60965L16.159 14.498H16.1107Z" fill="#FAFAFA"/>
          </svg>
      Filtrar por Curso
    </div>
    <div class="botao">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="21" viewBox="0 0 29 21" fill="none">
            <path d="M0.589944 7.71355C0.967799 7.33581 1.48021 7.12361 2.0145 7.12361C2.54878 7.12361 3.0612 7.33581 3.43905 7.71355L10.5638 14.8383L24.8094 0.590782C24.9965 0.403575 25.2186 0.255048 25.4631 0.153681C25.7075 0.0523147 25.9696 9.36816e-05 26.2342 1.25929e-07C26.4989 -9.34297e-05 26.761 0.0519424 27.0055 0.153136C27.2501 0.25433 27.4723 0.4027 27.6595 0.589775C27.8467 0.77685 27.9952 0.998966 28.0966 1.24344C28.198 1.48792 28.2502 1.74997 28.2503 2.01462C28.2504 2.27928 28.1983 2.54137 28.0971 2.78591C27.996 3.03046 27.8476 3.25268 27.6605 3.43989L10.5638 20.5366L0.589944 10.5627C0.212203 10.1848 0 9.67239 0 9.13811C0 8.60382 0.212203 8.09141 0.589944 7.71355Z" fill="#FAFAFA"/>
          </svg>
      Selecionar
    </div>
    <div class="botao">
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="37" viewBox="0 0 43 37" fill="none">
            <path d="M0 18.1344C0 22.9439 1.91058 27.5564 5.31143 30.9573C8.71228 34.3581 13.3248 36.2687 18.1344 36.2687C22.95 36.2687 27.5642 34.3747 31.0299 31.0299L28.0075 28.0075C26.739 29.3509 25.2082 30.4196 23.5099 31.1474C21.8116 31.8753 19.982 32.2467 18.1344 32.2388C5.5612 32.2388 -0.725373 17.0463 8.16046 8.16046C17.0463 -0.725373 32.2388 5.58135 32.2388 18.1344H26.1941L34.2538 26.1941H34.4553L42.3135 18.1344H36.2687C36.2687 13.3248 34.3581 8.71228 30.9573 5.31143C27.5564 1.91058 22.9439 0 18.1344 0C13.3248 0 8.71228 1.91058 5.31143 5.31143C1.91058 8.71228 0 13.3248 0 18.1344Z" fill="#FAFAFA"/>
          </svg>
      Atualizar dados
    </div>
    <div class="botao">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
            <path d="M26.455 0.110667C27.9658 -0.417254 29.4173 1.03416 28.8893 2.54505L20.0783 27.7217C19.5057 29.3545 17.2305 29.4467 16.5285 27.8659L12.2769 18.3009L18.261 12.3153C18.458 12.1039 18.5653 11.8242 18.5602 11.5353C18.5551 11.2463 18.438 10.9707 18.2337 10.7663C18.0293 10.562 17.7537 10.4449 17.4647 10.4398C17.1758 10.4347 16.8961 10.542 16.6847 10.739L10.6991 16.7231L1.13408 12.4715C-0.446709 11.7681 -0.353022 9.49427 1.27833 8.92174L26.455 0.110667Z" fill="#FAFAFA"/>
          </svg>
      Enviar Notificação
    </div>
    <div class="botao">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
            <path d="M16.1194 24.1791L6.04478 14.1045L8.86568 11.1829L14.1045 16.4217V0H18.1344V16.4217L23.3732 11.1829L26.1941 14.1045L16.1194 24.1791ZM4.02986 32.2389C2.92165 32.2389 1.97329 31.8446 1.18478 31.0561C0.396269 30.2676 0.00134329 29.3186 0 28.209V22.1642H4.02986V28.209H28.209V22.1642H32.2388V28.209C32.2388 29.3172 31.8446 30.2662 31.0561 31.0561C30.2676 31.8459 29.3185 32.2402 28.209 32.2389H4.02986Z" fill="#FAFAFA"/>
          </svg>
      Exportar Relatório
    </div>
    <div class="botao">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
            <path d="M16.1194 0C18.257 0 20.307 0.849145 21.8185 2.36063C23.33 3.87212 24.1791 5.92214 24.1791 8.05971C24.1791 10.1973 23.33 12.2473 21.8185 13.7588C20.307 15.2703 18.257 16.1194 16.1194 16.1194C13.9819 16.1194 11.9318 15.2703 10.4203 13.7588C8.90886 12.2473 8.05971 10.1973 8.05971 8.05971C8.05971 5.92214 8.90886 3.87212 10.4203 2.36063C11.9318 0.849145 13.9819 0 16.1194 0ZM16.1194 20.1493C25.0254 20.1493 32.2388 23.756 32.2388 28.209V32.2388H0V28.209C0 23.756 7.21344 20.1493 16.1194 20.1493Z" fill="#FAFAFA"/>
          </svg>
      Gerenciador de Usuários
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>