<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
    <div class="painel">
        <div class="titulo">Perfil</div>
      
        <div class="logo">
          <img src="logo_senai.png" alt="Logo da Unidade" />
        </div>
      
        <form class="formulario">
          <input type="text" placeholder="Nome da unidade" required>
          <input type="tel" placeholder="Telefone" required>
          <input type="text" placeholder="Endereço" required>
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Senha" required>
      
          <button type="submit" class="botao">SALVAR</button>
        </form>
      </div>
      
<%- include ('partials/footer.ejs') %>