<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<link rel="stylesheet" href="/css/style.css" />
<main>
    <section class="hero">
        <h1>        
            TRANSFORME DADOS <br />
            EM RELACIONAMENTOS <br />
            <span class="destaque">DURADOUROS</span>
        </h1>
    </section>

    <section class="barra-botoes">
        <a href="evasao" class="botao-funcional">
            <img src="img/Vector.png" alt="Previsão de Evasão">
            <span>PREVISÃO DE EVASÃO</span>
        </a>
        <a href="painel.html" class="botao-funcional">
            <img src="img/Vector (1).png" alt="Painel de Controle">
            <span>PAINEL DE CONTROLE</span>
        </a>
        <a href="vendas.html" class="botao-funcional">
            <img src="img/Vector (2).png" alt="Vendas Inteligentes">
            <span>RECOMENDAÇÕES INTELIGENTES</span>
        </a>
    </section>

    <section class="icones">
        <div class="imagem-central">
            <img src="/img/meio.png" alt="Imagem central" />
        </div>
    </section>
</main>
<%- include ('partials/footer.ejs') %>