<header>
  <div class="logo">
      <img src="/img/logo.png" alt="Logo Cristal" />
      <span class="texto-logo">Cristal</span>
  </div>    
  <nav>
      <a href="/">Home</a>
      <a href="#">Sobre Nós</a>
      <a href="usuarios">Usuários</a>                    
      <a href="usuariosCadastro" class="botao-link">Entrar/Cadastrar</a>
  </nav>
</header>