@font-face {
    font-family: 'saira';
    src: url(SairaCondensed-ExtraBold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'saira';
    background: linear-gradient(#000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 649px;
    min-height: 660px;
    border-radius: 50px;
    background: #FFF;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vetor svg {
    width: 50px;
    height: 50px;
}


.titulo {
    color: #219EAC;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.conteudo {
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    text-align: left;
    width: 100%;
}
