body {
    background-color: #000;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #000;
    background: linear-gradient(to right, #000, #222);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: saira-condensed, sans-serif;
}

nav button {
    padding: 8px 16px;
    background-color: #00aab3;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.botao-link {
    padding: 8px 16px;
    background-color: #00aab3;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    background: #219EAC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 7.3px 5px rgba(0, 0, 0, 0.25) inset;

}

.botao-link:hover {
    background-color: #008f97;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    position: relative;
    padding: 10px 10px;
}

.logo img {
    height: 40px;
}

.texto-logo {
    margin-left: 10px;
}


footer {
  background: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.feedback {
  font-size: 14px;
}

.verde {
  color: #00aab3;
}

.social img {
  height: 24px;
  margin-left: 10px;
}

/* Painel da Tabela de Usuários */
.painel {
  text-align: center;
  padding: 20px;
  margin-top: 40px; /* <-- espaçamento entre o header e o título */
  font-family: Arial, sans-serif;
}

.titulo {
  color: #089aa3;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.busca-input {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.tabela-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabela-usuarios {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
}

.tabela-usuarios th,
.tabela-usuarios td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.tabela-usuarios th {
  font-weight: bold;
  color: #333;
}

.btn {
  padding: 6px 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-alterar {
  background-color: #e5fafd;
  color: #089aa3;
  border: 1px solid #089aa3;
}

.btn-excluir {
  background-color: #ffeaea;
  color: #d9534f;
  border: 1px solid #d9534f;
}

.btn-cadastrar {
  background-color: #089aa3;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: background 0.2s ease-in-out;
}

.btn-cadastrar:hover {
  background-color: #067e85;
}

.cadastrar-container {
  margin-top: 10px;
}
  