<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cristal</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/cadastro.css" />
    <link rel="stylesheet" href="/public/css/evasao.css" />
    <link rel="stylesheet" href="/public/css/meus-cursos.css" />
    <link rel="stylesheet" href="/public/css/painel.css" />
    <link rel="stylesheet" href="/public/css/registro.css" />
    <link rel="stylesheet" href="/public/css/sidebar.css" />
    <link rel="stylesheet" href="/public/css/telas.css" />
</head>
<body>